<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Payment Gateway</title>
    </head>
    <body>
        <!-- Razorpay Checkout Button -->
        <button id="pay-button">Pay</button>
        <!-- Razorpay Checkout Script -->
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            // Set Razorpay credentials
            const constants = {
                razorpay_key_id: "rzp_test_7nPAZjauRj0RMR",
                razorpay_order_id: "order_O7f0qxMioThJHc",
                amount: "1000",
                currency: "INR",
                company_name: "The Open Page",
                description: "Library fine payment",
                customer_name: "Subhranil Chakraborty",
                customer_email: "subhranil@user.com",
                customer_phone: "+91-9123898644"
            };

            // Set Razorpay Options
            const options = {
                key: constants.razorpay_key_id,
                amount: constants.amount,
                currency: constants.currency,
                name: constants.company_name,
                description: constants.description,
                order_id: constants.razorpay_order_id,
                handler: async function (response) {
                    const data = {
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_order_id: response.razorpay_order_id,
                        razorpay_signature: response.razorpay_signature
                    };
                    console.log("Data: ", data);
                    document.getElementById("pay-button").style.display =
                        "none";
                    document.write(
                        "Payment Successful, Check console for data"
                    );
                },
                prefill: {
                    name: constants.customer_name,
                    email: constants.customer_email,
                    contact: constants.customer_phone
                },
                theme: {
                    color: "#3399cc"
                }
            };

            // Initialize Razorpay
            const razorpay = new Razorpay(options);
            // Add event listeners
            document
                .getElementById("pay-button")
                .addEventListener("click", function (e) {
                    razorpay.open();
                    e.preventDefault();
                });
            // On payment failed
            razorpay.on("payment.failed", function (response) {
                document.write(
                    "Caugnt a failed payment, Refresh page to try again or call cancel API"
                );
                document.getElementById("pay-button").style.display = "none";
                console.log(response);
            });
        </script>
    </body>
</html>
